@page "/"

<PageTitle>Home</PageTitle>

<h1>Netskope user manager</h1>

Due to SCIM API limitations, this application is not able to show group membership, adding and removing from a group is available but blindly.
