@page "/Account/Login"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@attribute [Authorize]

<PageTitle>Log in</PageTitle>

<h1>Log in</h1>


@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            if (HttpContext.User.Identity?.IsAuthenticated == true)
            {
                // Redirect to the return URL or home page if already authenticated
                var redirectUrl = string.IsNullOrEmpty(ReturnUrl) ? "/" : ReturnUrl;
                HttpContext.Response.Redirect(redirectUrl, true);
            };
        }
    }
}
